# Top 10

In [27]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/aaizemberg/vis/gh-pages/pod/fetemba-julio16-2018.tsv", sep='\t')
df.head(10)

,pos,nombre,categoria,club,puntos,variacion
0,1,"Bayona, Lucas",División de Honor,La Reja,3219,39
1,2,"Bentancor, Martín",División de Honor,Ferrocarril Oeste,3108,-24
2,3,"Fuentes, Leandro",División de Honor,Ferrocarril Oeste,2993,28
3,4,"Orencel Melnick, Alexis",División de Honor,Macabi,2799,-11
4,5,"Saragovi, Pablo",División de Honor,Alvear Club,2756,-16
5,6,"Costantino, Daniel",División de Honor,River Plate,2754,49
6,7,"Criado, Federico",División de Honor,Club Fenix,2639,39
7,8,"Guadalupe, Matías",División de Honor,Ferrocarril Oeste,2631,38
8,9,"Pighini, Matías",División de Honor,Ntra. Señora Lourdes,2579,5
9,10,"Waldszan, Matías",División de Honor,Macabi,2573,6

# Los mejores 10 clubes, segun el desempeño de sus jugadores

In [25]:
df[['club','variacion']].groupby('club').sum().sort_values(by='variacion', ascending=False).head(10)

                      variacion
club
Gimnasty                   1288
Alvear Club                1112
Club Fenix                  615
Ntra. Señora Lourdes        553
Ferrocarril Oeste           507
La Legión TDM               456
Peretz                      422
Top Minc                    399
UGAB                        313
MTMs                        311

# Los peores 5 clubes, segun el desempeño de sus jugadores

In [26]:
df[['club','variacion']].groupby('club').sum().sort_values(by='variacion', ascending=True).head(10)

                   variacion
club
Tigre Juniors           -120
Macabi                  -108
CEDIMA                   -89
Libre                    -74
UBA Exactas              -71
Adrogue Sith Spin        -55
Oeste TDM Catán          -53
C.A.S.A. de Padua        -46
Club Peñarol             -45
River Plate              -25

# Los 10 mejores jugadores

Son los jugadores que mas puntos sacaron

In [45]:
df[['nombre','club','variacion']].sort_values(by='variacion', ascending=False).head(10)

                       nombre                  club  variacion
117         Melluso, Salvador              Gimnasty        540
154           Armoa, Santiago           Alvear Club        388
204             Candela, Juan            Club Fenix        387
196           Basso, Valentin              Gimnasty        337
203          Mortula, Luciano         La Legión TDM        305
202        Jaimovich, Ignacio              Top Minc        292
162           Buscema, Milton           Alvear Club        268
179          Romero, Santiago  Ateneo de Versailles        202
296         Yonamine, Ricardo                  UGAB        193
325  Rodriguez Salem, Ignacio              Gimnasty        182